/* css */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Teko", serif;
}
.titulo {
background-color: rgb(53, 224, 96);
width: 18%;
margin-left: 17%;
}
body {
    color: black;
    font-family: "Sora", serif;

}

/*ENCABEZADOS*/
header {
    background-color: #1F5B14;
}

/*Contenido de la receta*/
.migas {

}
.top-receta {
    background-image: url(../img/PORTADA\ FONDO.jpg);
    background-size: cover;
}
.receta {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 80%;
    align-self: center;

}
.receta-int {
    width: 50%;
    padding: 20px;
    margin: 20px;
}
.principal {
    display: flex;
    flex-direction: column;
}